version: '3.8'

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    env_file:
      - .env
    # On Windows, 'host' network mode is limited. 
    # We will use the default bridge and access host services via 'host.docker.internal'
